Crypto Honeypot Test/bin/Debug/Crypto Honeypot.exe.config
Crypto Honeypot Test/bin/Debug/Crypto Honeypot.vshost.exe.config
Crypto Honeypot Test/bin/Debug/Crypto Honeypot.vshost.exe.manifest
Crypto Honeypot Test/obj/Debug/Crypto Honeypot Test.csproj.FileListAbsolute.txt
Crypto Honeypot Test/obj/Debug/Crypto Honeypot.csproj.FileListAbsolute.txt
Crypto Honeypot Test/bin/Debug/CryptoWatcher.ini
